/* TOP Rock Paper Scissors exercise by elBrant, 24FEB2023 */

body {
	background: lightgray;
	color: #546E7A;
	margin: 0;
	padding: 0;
	width: 74vw;
	height: 100vh;
	border-left: 13vw solid #546E7A;
	border-right: 13vw solid #546E7A;
}

footer {
	position: fixed;
	bottom: 0;
	text-align: center;
}

/* TXT */
h1, h2, p {
	margin: 0 5px 0;
	padding: 0;
	text-align: center;
}

h1 { font: small-caps 40px bolder Roboto, sans-serif; }
h2 { font: small-caps 24px bolder Roboto, sans-serif; }
h3 { font: small-caps 30px bolder Roboto, sans-serif; }
p,intro  { font: small-caps 16px Roboto, sans-serif; }
p.footer { font-size: 8px; }

/* CLASSES */
.intro {
	height: 95%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.mutedblue { color: #546E7A; }
.white { color: #FFF; }

/* ID'S */
#myScore, #pcScore { 
	margin-top: 30px;
}

#tally {
	//height: 20%;
	display: flex;
	flex-direction: row;
	align-items: bottom;
	justify-content: center;
	font: small-caps 20px Roboto, sans-serif;
	visibility: visible;
}

#toss, #winner { 
	text-align: center;
	margin: 0;
	padding: 3px;
 }

#rock {	color: #546E7A; }
#paper { color: #FFF; }
#scissors { color: #546E7A; }

/* eof */
